@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-size: 16px;
  font-family: "Assistant", sans-serif;
  color: #fff;
}

.page-body {
  background-color: #1d1f20;
}
.page-body .container {
  width: 100%;
  height: 100vh;
}
.page-body .container .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.page-body .container .flex-container .content-aside .site-logo {
  margin-bottom: 10px;
  width: 115px;
}
.page-body .container .flex-container .content-aside .site-logo img {
  width: inherit;
}
.page-body .container .flex-container .content-aside .logo-heading {
  margin-bottom: 25px;
}
.page-body .container .flex-container .content-aside .logo-heading .logo-para {
  font-size: 25px;
  font-weight: 400;
}
.page-body .container .flex-container .content-aside .flex-headings .tool-heading {
  padding: 25px 0;
}
.page-body .container .flex-container .content-aside .flex-headings .tool-heading .tool-para-one {
  color: #e0e0e0;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 6px;
}
.page-body .container .flex-container .content-aside .flex-headings .tool-heading .tool-para-two {
  color: #e0e0e0;
  max-width: 300px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3rem;
}
.page-body .container .flex-container .content-aside .flex-headings .manage-heading .manage-para-one {
  color: #e0e0e0;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 6px;
  word-spacing: 1px;
}
.page-body .container .flex-container .content-aside .flex-headings .manage-heading .manage-para-two {
  color: #e0e0e0;
  max-width: 300px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3rem;
  word-spacing: 1px;
}
.page-body .container .flex-container .content-aside .mini-menu {
  margin-top: 35px;
}
.page-body .container .flex-container .content-aside .mini-menu ul {
  list-style: none;
  display: flex;
}
.page-body .container .flex-container .content-aside .mini-menu ul li {
  padding: 0 15px 0px 0px;
}
.page-body .container .flex-container .content-aside .mini-menu ul li a {
  font-size: 14px;
  color: #e0e0e0;
  text-decoration: none;
  word-spacing: 1px;
  transform: all 0.2s ease;
}
.page-body .container .flex-container .content-aside .mini-menu ul li a:hover {
  color: #00c894;
}
.page-body .container .flex-container .content-aside .mini-social-menu ul {
  list-style-type: none;
  display: flex;
}
.page-body .container .flex-container .content-aside .mini-social-menu ul li {
  padding: 5px 15px 0px 0px;
}
.page-body .container .flex-container .content-aside .mini-social-menu ul li a i {
  color: #757575;
  transition: all 0.2s ease;
}
.page-body .container .flex-container .content-aside .mini-social-menu ul li a i:hover {
  color: #00c894;
}
.page-body .container .flex-container .form-aside form {
  min-width: 400px;
  box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.044);
  min-height: 575px;
  background: #212324;
  padding: 20px;
  border: 1px dashed #353535;
  border-radius: 10px;
}
.page-body .container .flex-container .form-aside form .flex-form .sign-flex .sign-on .sign-in {
  margin-top: 10px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.page-body .container .flex-container .form-aside form .flex-form .sign-flex .sign-on .sign-in-sub-heading {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #9399a1;
}
.page-body .container .flex-container .form-aside form .flex-form .sign-with-google {
  display: block;
  margin: 0 auto;
}
.page-body .container .flex-container .form-aside form .flex-form .sign-with-google .btn-contain {
  margin-top: 50px;
  position: relative;
}
.page-body .container .flex-container .form-aside form .flex-form .sign-with-google .btn-contain img {
  position: absolute;
  top: 14px;
  left: 32%;
  width: 12px;
  height: 12px;
}
.page-body .container .flex-container .form-aside form .flex-form .sign-with-google .btn-contain button {
  color: #757575;
  display: block;
  margin: 0 auto;
  background: transparent;
  border: 0.5px solid #353535;
  border-radius: 5px;
  padding: 12px 15px 12px 35px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.page-body .container .flex-container .form-aside form .flex-form .sign-with-google .btn-contain button:hover {
  background: #6c757d;
  color: #fff;
  border: 1px solid transparent;
}
.page-body .container .flex-container .form-aside form .flex-form .divided {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}
.page-body .container .flex-container .form-aside form .flex-form .divided .dash-line {
  margin: 0 auto;
  width: 40%;
  height: 1px;
  background-color: #353535;
}
.page-body .container .flex-container .form-aside form .flex-form .divided .or-text .or-para {
  color: #9399a1;
  font-size: 16px;
  font-weight: 400;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain {
  margin-top: 20px;
  padding: 0 12px;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .email-bar label {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .email-bar input {
  margin-top: 10px;
  display: block;
  color: #353535;
  border: 1px solid #353535;
  background-color: transparent;
  padding: 12px 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .email-bar input:hover {
  border-color: rgba(108, 115, 211, 0.3);
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .email-bar input:active {
  border: 1px solid #2794eb;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .email-bar input:focus {
  box-shadow: 0 0 10px rgba(25, 24, 24, 0.15);
  background-color: #212324;
  border: 1px solid #2794eb;
  color: #2794eb;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .password-bar .pass-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .password-bar .pass-labels label {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .password-bar .pass-labels label.forgot-pass {
  color: #2794eb;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .password-bar .pass-input input {
  margin-top: 10px;
  display: inline-block;
  color: #353535;
  border: 1px solid #353535;
  background-color: transparent;
  padding: 12px 10px;
  width: 91%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .password-bar .pass-input input:hover {
  border-color: rgba(108, 115, 211, 0.3);
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .password-bar .pass-input input:active {
  border: 1px solid #2794eb;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .password-bar .pass-input input:focus {
  box-shadow: 0 0 10px rgba(25, 24, 24, 0.15);
  background-color: #212324;
  border: 1px solid #2794eb;
  color: #2794eb;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .password-bar .pass-input button {
  background: transparent;
  border: 1px solid #353535;
  outline: none;
  padding: 12px 8px;
  margin-left: -4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .password-bar .pass-input button:hover {
  background-color: #9399a1;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .password-bar .pass-input button:hover i.fa-eye {
  color: #e0e0e0;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .password-bar .pass-input button i.fa-eye {
  font-size: 10px;
  color: #6c757d;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .remember {
  margin-top: 20px;
  margin-left: 2px;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .remember label {
  padding-left: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .remember input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: #353535;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .remember input[type=checkbox]::after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 14px;
  padding-left: 1px;
  color: #fff;
  display: none;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .remember input[type=checkbox]:hover {
  background-color: #a5a5a5;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .remember input[type=checkbox]:checked {
  background-color: #2794eb;
}
.page-body .container .flex-container .form-aside form .flex-form .inputs-contain .remember input[type=checkbox]:checked::after {
  display: block;
}
.page-body .container .flex-container .form-aside form .flex-form .sign-btn {
  margin-top: 20px;
  padding-bottom: 15px;
}
.page-body .container .flex-container .form-aside form .flex-form .sign-btn button {
  display: block;
  margin: 0 auto;
  color: #000;
  padding: 10px 12px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  border-radius: 7px;
  outline: none;
  font-family: "Assistant", sans-serif;
  border: 1px solid #353535;
  color: #6c757d;
}
.page-body .container .flex-container .form-aside form .flex-form .dont-have-account p {
  font-size: 13px;
  text-align: center;
  color: #9399a1;
}
.page-body .container .flex-container .form-aside form .flex-form .dont-have-account p a {
  text-decoration: none;
  color: #2794eb;
}/*# sourceMappingURL=style.css.map */